<div class="task-box">
  <input
    class="checkbox"
    type="checkbox"
    (click)="changeTaskStatusHandler($event)"
    [checked]="task.status === taskStatusesEnum.completed"
  />
  <input
    class="input"
    *ngIf="editMode; else elseBlock"
    type="text"
    [(ngModel)]="newTitle"
    (blur)="changeTaskTitleHandler()"
    (keyup.enter)="changeTaskTitleHandler()"
    autofocus="autofocus"
  />
  <ng-template #elseBlock>
    <span
      class="task-title"
      [ngClass]="{ completed: task.status === taskStatusesEnum.completed }"
      (dblclick)="activateEditModeHandler()"
      >{{ task.title }}</span
    >
  </ng-template>
  <button (click)="deleteTaskHandler()">&#215;</button>
</div>
