.filter-box {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  button {
    content:'\2573';
    height: 20px;
    padding: 15px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
  }
  button:not(:first-child) {
    margin-left: 10px;
  }

  .filter-all {
    background: rgb(255, 255, 255);
    color: black;
  }
  .filter-active {
    background: rgb(255, 255, 255);
    color: black;
  }
  .filter-completed {
    background: rgb(255, 255, 255);
    color: black;
  }

  .active {
    background: rgb(0, 173, 0);
    color: white;
  }
}
