<div class="filter-box">
  <button
    [ngClass]="{ 'active-all': filter === 'all' }"
    (click)="changeFilterHandler('all')"
    class="filter-all"
  >
    All
  </button>
  <button
    [ngClass]="{ 'active-active': filter === 'active' }"
    (click)="changeFilterHandler('active')"
    class="filter-active"
  >
    Active
  </button>
  <button
    [ngClass]="{ 'active-completed': filter === 'completed' }"
    (click)="changeFilterHandler('completed')"
    class="filter-completed"
  >
    Completed
  </button>
</div>
