* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todo-box {
  border: 2px solid black;
  min-width: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .todo-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 600;

    button {
      width: 70px;
      height: 30px;
      margin-left: 10px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: rgba(255,165,0,1);
      border: none;
      border-radius: 3px;
      cursor: pointer;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
    }
  }
}

